*
{
    /*-fx-font-size: 10pt;*/
}

.root{
    -Base-Color: #f24783,#441868,#5a1e82;
    -icons-color: white;
    -icons-color-inverse: #441868;
    -border-color: #441868;
    -menu-color: #441868;
    -menu-font: "Segoe UI Light";
    -menu-text-color: white;
    -footer-color: white;
    -footer-text-color: #441868;
    -article-color: derive(#5a1e82,20%);
    -article-text-color: white;
    -table-view-header-columns-color: derive(#824391, 10%);
    -table-view-text-color: white;
    -table-view-line-selected-color: derive(#5a1e82, 40%);
    -table-view-text-font: "Segoe UI Light";
    -date-picker-color: #441868;
    -split-pane-color: derive(#5a1e82, 20%);
    -tab-color: derive(#5a1e82, 20%);
    -combo-box-text-color: white;
    -combo-box-background-color: transparent;
    -combo-box-focus-color: derive(#5a1e82, 80%);
    -combo-box-color: derive(#5a1e82, 60%);
    -combo-box-text-color-default: #5a1e82;
    -label-text-color: derive(#5a1e82, 60%);
    -label-text-hover-color: #5a1e82;
    -label-text-font: "Segoe UI Semibold";
    -text-field-text-color: #5a1e82;
    -text-field-focus-color: derive(#5a1e82, 60%);
    -text-field-text-font: "Segoe UI Light";
    -button-text-color: white;
    -button-background-color: #441868;
    -button-border-color: #441868;
    -button-text-font: "Segoe UI Light";
    -button-background-color-hover: derive(#441868, 40%);
    -button-text-color-hover: white;
    -button-border-color-focus: derive(#441868, 40%);
    -fx-spacing: 2;
    /*-fx-background-color: linear-gradient(to top, #ddd6f3, #faaca8);
    linear-gradient(to top, #8e9eab, #eef2f3);
    linear-gradient(to top, #e0eafc, #cfdef3);
    linear-gradient(to top, #d3cce3, #e9e4f0);
    linear-gradient(to top, #ffefba, #ffffff);
    linear-gradient(to top, #c9d6ff, #e2e2e2);
    linear-gradient(to top, #d9a7c7, #fffcdc); 
    linear-gradient(to top, #c9d6ff, #e2e2e2);
    linear-gradient(to top, #d9a7c7, #fffcdc); */
    -fx-background-color: linear-gradient(to top, #ffefba, #ffffff);
}

/*Menu Bar*/
.menu-bar {
    -fx-background-color: derive(-menu-color,20%);
}

.menu-bar .label {
    -fx-font-size: 9pt;
    -fx-font-family: -menu-font;
    -fx-text-fill: -menu-text-color;
    -fx-opacity: 0.9;
}

.menu:selected,.menu:showing,.menu:hover, .context-menu {
    -fx-background-color: derive(-menu-color,78%);
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: derive(-menu-color,92%);
}

/*Footer*/
.footer-page{
    -fx-opacity: 0.5;
    -fx-text-fill: -menu-text-color;
}
.footer-page > .label{
    -fx-text-fill: -footer-text-color;
}

/*Article Header*/
.article-header{
    -fx-background-color: -article-color;
    -fx-text-fill: -menu-text-color;

}

.article-header > .label{/*Not Working*/
    -fx-text-fill: -article-text-color;
}

.jfx-tab-pane .headers-region 
{
    -fx-background-color: /*#1b75bc*/  -tab-color;
}
.jfx-tab-pane .tab-header-background 
{
    -fx-background-color: /*#1b75bc*/  -tab-color;
}
.jfx-tab-pane .tab-selected-line 
{
    -fx-stroke: #75bc1b;
    -fx-stroke-width: 3pt;
}

#lblErro{
    -fx-font-size: 8pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: red;
    -fx-opacity: 0.6;
}

/*Custom Table Views*/
.table-view, .table-view:focused {
    -fx-base: -table-view-header-columns-color;
    -fx-control-inner-background: -table-view-header-columns-color;
    -fx-background-color: -table-view-header-columns-color;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(#5a1e82, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: -table-view-text-font;
    -fx-text-fill: -table-view-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .table-cell{
    -fx-text-fill: -table-view-text-color;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -table-view-line-selected-color;
}

.table-row-cell:selected {
    -fx-border-color: -table-view-line-selected-color;
    -fx-background-color: -table-view-line-selected-color;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.table-row-cell > .button {
    -fx-background-color: -table-view-header-columns-color;
}

.table-view .table-cell{
    -fx-border-color: 
        transparent
        transparent
        transparent 
        transparent;
}


/*ComboBox Custom*/
.combo-box{
    -fx-text-fill: -combo-box-text-color-default;
    -fx-font-size : 9pt;
    -jfx-focus-color: -combo-box-focus-color;
    -fx-background-color: -combo-box-background-color;
    /*-fx-padding: 28 0 0 0;*/
}
.combo-box-popup {
    -fx-background-color: derive(-combo-box-color, 20%);
    -fx-text-fill: -combo-box-text-color;
}

.combo-box-popup .list-view{
    /*-fx-background-color: derive(-fx-primary, 20%);*/
    -fx-text-fill: -combo-box-text-color;
}
.combo-box-popup .list-view .list-cell
{
    -fx-background-color: derive(-combo-box-color, 20%);
    -fx-text-fill: derive(-combo-box-text-color, 20%);
}
.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: -combo-box-color;
    -fx-text-fill: -combo-box-text-color;
}
.combo-box .cell:selected {
    -fx-text-fill: -combo-box-text-color-default;
}

/*Icones*/
.glyph-icon{
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    /*-glyph-size: 48px;*/
}

.glyph-icon-inverse{
    -fx-text-fill: -icons-color-inverse;
    -fx-fill: -icons-color-inverse;
    /*-glyph-size: 48px;*/
}

.glyph-icon:hover{
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0);
}

/*Custom Date Time Picker*/
.date-picker{
    -fx-base: -date-picker-color;
    -fx-control-inner-background: white;
    -fx-background-color: -date-picker-color;
    -fx-font-size: 10pt;
}
.date-picker > .label{
    -fx-prompt-text-fill: white;
    -jfx-focus-color: white;
    -jfx-unfocus-color: white;
    -fx-background-color: -date-picker-color;
}
.date-picker-popup > .month-year-pane{
    -fx-text-fill: white;
    -fx-background-color: -date-picker-color;
}

/*Custom Scrool Pane*/
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
/*TablPane styling*/
.tab, .tab-header-background{
    -fx-background-color: -tab-color;
    /*-fx-pref-width : 350;
    -fx-pref-height : 60;*/
}

/*Custom Split Pane*/
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent -split-pane-color transparent -split-pane-color;
    -fx-background-color: transparent, derive(-split-pane-color,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

/*Labels*/
/*
.label {
    -fx-font-family: -label-text-font;
    -fx-text-fill: -label-text-color;
}*/
.label:hover{
    -fx-font-family: -label-text-font;
    -fx-opacity: 0.8;
}

/*TextField*/
.text-field, .text-area {
    -fx-prompt-text-fill: linear-gradient(to right, -text-field-text-color, black);
    -jfx-focus-color: black;
    -jfx-unfocus-color: linear-gradient(to top, white, black);
}

/*Button*/
.button, .jfx-button {
    -fx-text-fill: -button-text-color;
    -fx-background-color: -button-background-color;
    -fx-border-color: -button-border-color;
    -fx-font-family: -button-text-font;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -jfx-button-type: RAISED;
}

.button:hover{
    -fx-border-color: -button-border-color-focus;
    -fx-background-color: derive(-button-background-color, 40%);
    -fx-text-fill: -button-text-color-hover;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: derive(-button-background-color, 20%);
    -fx-text-fill: -button-text-color-hover;
}

.button:focused {
    -fx-background-color: derive(-button-background-color, 30%);
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: -button-background-color;
    -fx-text-fill: -button-text-color;
}

.pane-principal-border{
    -fx-border-color: linear-gradient(to right, -border-color, derive(-border-color,50%));
    -fx-border-width: 3 3 3 3;
}

.pane-principal-header-top{
    -fx-background-color: derive(#441868, 40%);
}
.pane-principal-header-top > .label{
    -fx-text-fill: white;
}

.pane-login-border{
    -fx-border-color: linear-gradient(to right, -border-color, derive(-border-color,50%));
    -fx-border-width: 3 3 3 3;
    -fx-border-radius: 0 20 0 20;
}
