/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal
*/

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -Main: #FF000;
}

.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
    -fx-padding: 28 5 5 0;
}
/*ComboBox Custom*/
.combo-box{
    -fx-text-fill: white;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-background-color: transparent;
    -fx-padding: 28 0 0 0;
}
.combo-box-popup {
    -fx-background-color: derive(-fx-primary, 20%);
    -fx-text-fill: white;
}

.combo-box-popup .list-view{
    /*-fx-background-color: derive(-fx-primary, 20%);*/
    -fx-text-fill: -fx-primarytext;
}
.combo-box-popup .list-view .list-cell
 {
    -fx-background-color: derive(-fx-primary, 20%);
    -fx-text-fill: derive(-fx-primarytext, 20%);
 }
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
}
.combo-box .cell:selected {
    -fx-text-fill: -fx-primarytext;
}

.text-area
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

.correct-credentials
{
    -jfx-unfocus-color: -fx-green;
    -jfx-focus-color: -fx-green;
}


/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
    /*-fx-pref-width : 350;
    -fx-pref-height : 60;*/
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

/*Menu bar Styling*/
.menu-bar{
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-background-color:  derive(-fx-primary, 20%);
}

/*Hamburger Styling*/
.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/
.toolbar-button
{
    -fx-background-color: derive(-fx-primary, 20%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: -fx-primary;
}
.toolbar-button:hover
{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon
{
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-background-color: -fx-blue;
    -fx-border-color: -fx-blue;
    -fx-text-fill: white;
}

.dialog-button:hover{
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}

/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: -fx-blue;
    -fx-border-color: derive(-fx-blue, -30%)
}
.chart-pie-label
{
    -fx-fill : -fx-secondary;
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}


/*Custom Table Views*/
.table-view {
    -fx-base: -fx-primary;
    -fx-control-inner-background: -fx-primary;
    -fx-background-color: -fx-primary;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

/*Custom Date Time Picker*/
.date-picker{
    -fx-base: -fx-primary;
    -fx-control-inner-background: -fx-primary;
    -fx-background-color: -fx-primary;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-font-size: 10pt;
}

/*Custom Scrool Pane*/
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

#PainelComMargem{
    -fx-background-color: derive(-fx-primary, 5%);
    -fx-border-color: -fx-secondary;
    /*-fx-background-radius: 20px;*/
    -fx-padding: 15;
}

#PainelDeBotoesComMargem{
    -fx-background-color: derive(-fx-primary, 5%);
    -fx-border-color: -fx-secondary;
    -fx-spacing: 5;
    /*-fx-background-radius: 20px;*/
    -fx-padding: 5;
}

#SmallButton{
    /*-fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;*/
    -fx-font-size: 8pt;
}

#SmallTextField{
    -fx-font-size: 10pt;
    -fx-padding: 15 5 5 0;
}

